.hikeResultsNameDiv {
    /* background-color: #ffffff; */
    width: 100%;
}

.hikeResultsName {
    font-size: 1.75em;
    margin-bottom: 0px;
}

.hikeResultsLocation {
    font-size: 1em;
    margin-top: 0px;
    color: grey;
}

.hikeResultsNameDiv:hover {
    box-shadow: 2px 2px 2px 2px #000000;
    background-color: lightgrey;
}

