.heading {
    /* position: absolute; */
    text-align: center;
    margin: 25px 0 25px 0;
    width: 100%;
}

#homeSearch {
    width: 100%;
}

#homeSearchRow {
    background-color : #ffffff;
    height: 175px;
    box-shadow: 1px 1px 5px #000000;
}

#hikeDiv {
    margin: 25px 0 0 0;
    padding: 0 4em 0 4em;
}

.searchButton {
    background-color: #ffffff;
}