.heading {
    /* position: absolute; */
    text-align: center;
    margin: 25px 0 25px 0;
    width: 100%;
}

#homeSearch {
    width: 100%;
    /* height: 100%; */
    /* margin : 10px; */
}

#homeSearchRow {
    background-color : #ffffff;
    height: 100%;
    /* height: 500px; */
    /* margin: auto 0 auto 0; */
    box-shadow: 1px 1px 5px #000000;
    padding: 0 0 15px 0;
}

#hikeDiv {
    margin: 25px 0 0 0;
    padding: 0 4em 0 4em;
}

.searchButton {
    background-color: #ffffff;
}

.homeAdvancedSearch {
    float: right;
    text-decoration: underline;
}

#homeSearch {
    margin: 0 0 10px 0;
}