#navBar {
    background-color: #ffffff;
    padding: 15px;
    height: 10vh;
    box-shadow: 0px 1px 5px black;
    z-index: 99;
}

.navBarLogo{
    text-align: center;
    font-size: 2em;
}

.navBarBtn {
    width: 30%;
    margin: 1.5%;
    background-color: #4a660e;
    border-color: #4a660e;
}

.navBarBtn:hover, .navBarBtn:target, .navBarBtn:focus{
    background-color: #78b000;
    border-color:#4a660e;
}

.navBarTag{
    width: 33%;
    float: left;
}

.tagExplore, .tagPlan, .tagTips {
    font-size: 1.25em;
    margin: 2% 0 0 0;
}

.tagHelp {
    font-size: 1.25em;
    margin: 2% 10px 0 0;
    text-align: right;
    width: 25%;
    /* width: 15%; */
}

.navBarLogoDiv {
    font-size: 1.5em;
}