#navBar {
    background-color: #ffffff;
    /* float: left; */
    /* height: 10%; */
    padding: 15px;
    height: 10vh;
}

.navBarLogo{
    text-align: center;
    font-size: 1.5em;
}

.navBarBtn {
    width: 30%;
    margin: 1.5%;
    background-color: grey;
}

.testDiv {
    width: 33%;
    float: left;
}