#navBar {
    background-color: #ffffff;
    padding: 15px;
    height: 10vh;
    box-shadow: 0px 1px 5px black;
}

.navBarLogo{
    text-align: center;
    font-size: 1.5em;
}

.navBarBtn {
    width: 30%;
    margin: 1.5%;
    background-color: #4a660e;
    border-color: #4a660e;
}

.navBarBtn:hover, .navBarBtn:target, .navBarBtn:focus{
    background-color: #78b000;
}

.testDiv {
    width: 33%;
    float: left;
}