#search {
    width: 100%;
    height: 90vh;
    background-color: #ffffff;
}

#hikeSearchBar {
    width: 60%;
    /* height: 100%; */
    margin: auto;
    position: relative;
    top: 30%;
}

.hikeSearch {
    position: relative;
    height: 10vh;
}

#searchButton {
    width: 15vh;
}