.hikeResultsDiv {
    width: 20%;
    float: left;
    box-shadow: 3px 1.5px 7px #000000;
    margin: 20px;
    padding: 10px;
    height: 700px;
    background-color : #ffffff;
}

.hikeName {
    font-size: 40px;
    /* margin: 5px; */
}

.hikeLocation {
    font-size: 30px;
    /* margin: 5px; */
}

.hikeImage {
    margin: 5px;
}

.hikeSummary {
    font-size: 20px;
    /* margin: 0 10px 0 10px; */
}

